<template name="navigation">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
  
      <div id="title">
        <a class="navbar-brand" href="{{pathFor route='home'}}">Study Snap</a>
      </div> <!-- #title -->
  
      <div id="search" class="input-group">
        {{> inputAutocomplete settings=autocompleteSettings id="courseSearch" class="input-xlarge" placeholder="Find a course..."}}
      </div> <!-- #search -->

      <div id="login-btn" class="navbar-nav">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
  
    </div> <!-- .container -->
  </nav>
</template>

<template name="courseResult">
<span class="pull-left">{{title}}</span>
<span class="pull-right">{{university}}</span>
</template>
