<template name="Deck">
  <div class="container-fluid" id="main">
    <!-- flashcard input -->
    {{> FlashcardsNew}}
  
    <!-- flashcard output -->
    {{> FlashcardsShow}}

  </div> <!-- #main -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  type='text/javascript'></script> <script src=
  "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" type=
  'text/javascript'></script> <!-- JavaScript jQuery code from Bootply.com editor -->
  <script type='text/javascript'>
  
  $(document).ready(function() {
  
      /* toggle layout */
      $('#btnToggle').click(function(){
        if ($(this).hasClass('on')) {
        $('#main .col-md-12').addClass('col-md-4').removeClass('col-md-12');
        $(this).removeClass('on');
        }
        else {
        $('#main .col-md-4').addClass('col-md-12').removeClass('col-md-4');
        $(this).addClass('on');
        }
        });
  
      });
  </script>
</template>
