<template name="Grid">
  <div class="container-fluid" id="main">
      <div class="well">
        <form class="form">
          <h4>Card Front</h4>

          <div class="input-group input-group-sm text-center">
            <input class="form-control" placeholder="Create a new card..." type="text"> 
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Create</button>
            </span>
          </div>
        </form>
      </div> <!-- .well -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a class="pull-right" href="#">Flip card</a>
        </div>
      </div>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
type='text/javascript'></script> <script src=
"http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" type=
'text/javascript'></script> <!-- JavaScript jQuery code from Bootply.com editor -->
<script type='text/javascript'>

$(document).ready(function() {

    /* toggle layout */
    $('#btnToggle').click(function(){
      if ($(this).hasClass('on')) {
      $('#main .col-md-12').addClass('col-md-4').removeClass('col-md-12');
      $(this).removeClass('on');
      }
      else {
      $('#main .col-md-4').addClass('col-md-12').removeClass('col-md-4');
      $(this).addClass('on');
      }
      });

    });
</script>
</template>
