body {
  padding-top: 70px;
}

.starter-template {
  text-align: center;
}

.row > .panel {
  margin: 0 18.5%;
}

.my-course-title, .my-course-challenges, .my-course-score {
  display: inline-block;
}
.my-course-title {
  width: 24%;
}
.my-course-score {
  width: 14%
}
.my-course-challenges {
  text-align: left;
  width: 59%;
}
.my-course-challenges > .list-inline {
  margin-bottom: 0 !important;
}
.my-course-challenges > .list-inline > li {
  vertical-align: middle;
}
.my-course-title {
  text-align: left;
}
.my-course-score {
  text-align: right;
}

#title a {
  font-size: 22px;
  width: 100%;
  text-align: right;
}

#title, #search, #login-btn {
  display: inline;
  float: left;
  vertical-align: middle;
}

#title {
  width: 24%;
}
#search {
  width: 49%;
  margin: 10px 0px;
}
#login-btn {
  width: 24%;
}

.list-group {
  margin-bottom: auto;
}

.list-group-item {
  overflow: hidden;
  padding-left: 10px;
  width: 200px !important;
  display: inline-block;
}

.input-group {
  display: block;
}

.input-group input {
  width: 100%;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
  padding-left: 10px;
}

span .input-group-btn {
  color: white;
  font-size: 12px;
}
.-autocomplete-container {
  margin-top: 12px;
}

.-autocomplete-item {
  display: inline-block;
  height: auto;
  width: 100%;
  height: auto;
}
