body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#title, #search, #course, #university{
  display: inline;
  float: left;
  vertical-align: middle;
}

#course, #university {
  width: 50%;
  height: auto;
}

#course {
  text-align: left;
}

#university {
  text-align: right;
}

#search {
  width: 80%;
  vertical-align: middle;
  padding-top: 10px;
}

.input-group input {
  width: 100%;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
}
