body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#title, #search {
  display: inline-block;
  vertical-align: middle;
}

#search {
  width: 60%;
}

.column {
  display: inline-block;
  width: 45%;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
