@media (max-width: 768px) {
  body {
    padding-top:110px !important;
    padding-bottom:40px !important;
  }
  #title {
    width: 100% !important;
    display: none !important;
  }
  #search {
    width: 100% !important;
    padding-top: 20px;
  }
  #login-btn {
    width: 100% !important;
  }
  .navbar-nav {
    margin: 0px !important;
  }
  .well {
    width: 330px !important;
  }
}
