<template name="Home">
  <h1>Study Snap</h1>
  <p class="lead">A competitive, engaging, and collaborative flashcard community.</p>

  <p><a href="{{pathFor route='courses.new'}}">Create a new course</a></p>
  {{#each courses}}
    <div class="row">
      <div class="panel panel-default">
        {{> MyCourse}}
      </div> <!-- .panel -->
    </div> <!-- .row -->
  {{/each}}
</template>

<template name="MyCourse">
  <div class="panel-heading">{{title}}</div>
  <div class="panel-body">
    <ul class="list-inline">
      {{#each challenges _id}}
        <li>{{> MyChallenge}}</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="MyChallenge">
  {{student}} challenged you on {{course}}.
</template>
