<template name="Home">
  <h1>Study Snap</h1>
  <p class="lead">A competitive, engaging, and collaborative flashcard community.</p>

  <p><a href="{{pathFor route='courses.new'}}">Create a new course</a></p>
  {{#each courses}}
    <div class="row">
      <div class="panel panel-default">
        {{> MyCourse}}
      </div> <!-- .panel -->
    </div> <!-- .row -->
  {{/each}}
</template>

<template name="MyCourse">
  <div class="panel-body">
    <div class="my-course-title">{{title}}</div>
    <div class="my-course-challenges">
      <ul class="list-inline">
        {{#each challenges _id}}
          <li>{{> MyChallenge}}</li>
        {{else}}
          <li>There are no pending challenges!</li>
        {{/each}}
      </ul>
    </div>
    <div class="my-course-score">{{myScore}}</div>
  </div>
</template>

<template name="MyChallenge">
  {{student}} challenged you!
</template>
