<template name="FlashcardNew">
<div class="input-group input-group-sm text-center">
  {{#autoForm id="new-card" type="insert" collection="Flashcards"}}
  <fieldset>
    <div class="form-group front {{#if afFieldIsInvalid name='front'}}has-error{{/if}}">
      <h4>Card Front</h4>
      {{> afFieldInput name='front' type="textarea"}}
    </div>
    <div class="form-group back hidden {{#if afFieldIsInvalid name='responses'}}has-error{{/if}}">
      <h4>Card Back</h4>
      {{#afEachArrayItem name='responses'}}
        {{> afFieldInput name=this.current.text type="text"}}
      {{/afEachArrayItem}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
  {{/autoForm}}
</div>
</template>
