<template name="Flashcard">
  <div class="well card">
    <div class="front">
      {{#if courseOrCardOwner }}
        {{#quickRemoveButton collection="Flashcards" _id=this._id beforeRemove=beforeRemove class="delete-button pull-left"}}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{/quickRemoveButton}}
      {{/if}}
      <div class="card-body">
        {{front}}
      </div>
    </div>
    <div class="back">
      <div class="card-body">
        {{response1}}
      </div>
    </div>
  </div><!-- .well -->
</template>
