<template name="Flashcard">
  <div class="well card">
    <div class="front">
      <div class="card-header">
        {{#if courseOrCardOwner }}
          {{#quickRemoveButton collection="Flashcards" _id=this._id beforeRemove=beforeRemove class="pull-left"}}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{/quickRemoveButton}}
        {{/if}}
        <!--<a class="flip pull-right" href="#">Flip card</a>-->
      </div>
      <div class="card-body">
        {{front}}
      </div>
    </div>
    <div class="back">
      <div class="card-body">
        {{response1}}
      </div>
    </div>
  </div><!-- .well -->
</template>
