<template name="Challenge">
  <div class="challenge">
    <h2>Challenge!</h2>
    <button type="button" id="start-challenge" class="btn btn-primary">Ready?</button>
  </div>
  <div class="challenge hidden">
    {{#each cards}}
      {{> ChallengeQuestion}}
    {{/each}}
    <hr />
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</template>

<template name="ChallengeQuestion">
  <h3>{{front}}</h3>
  <!-- put responses here -->
  <div class="list-group">
    {{#each response}}
      {{> Response}}
    {{/each}}
  </div>
</template>

<template name="Response">
    <button type="button" class="list-group-item">{{this}}</button>
</template>
