<template name="Challenge">
  <div class="challenge">
    <h2>Challenge!</h2>
    <button type="button" id="start-challenge" class="btn btn-primary">Ready?</button>
  </div>
  <div class="challenge hidden">
    {{#each cards}}
      {{> ChallengeQuestion}}
    {{/each}}
    <hr />
    {{#autoForm id="new-challenge" type="insert" collection="Challenges"}}
      <fieldset>
        <div class="form-group">
          <button type="submit" id="submit-challenge" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    {{/autoForm}}
</div>
</template>

<template name="ChallengeQuestion">
  <div class="question">
    <h3>{{front}}</h3>
    <!-- put responses here -->
    <div class="list-group">
      {{#each response}}
        {{> Response}}
      {{/each}}
    </div>
  </div>
</template>

<template name="Response">
    <button type="button" class="list-group-item">{{this}}</button>
</template>
